body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #160c2d;
  text-align: center;
  margin: 0;
  padding: 0;
  text-shadow:#612ae1;
  

}

.crop-image{

    width: 25%;
    height: 10%;
    object-fit:cover;
    object-position:0px 2.5px;
    border-radius: 50%;
    
}

.about-container {
  max-width: 40%;
  margin: 2% auto;
  background: rgb(255, 255, 255);
  padding: 2%;
  border-radius: 7%;
  box-shadow: 0 0 30px rgb(11, 218, 221, 0.731);
}
.education {
  max-width: 40%;
  margin: 2% auto;
  background: white;
  padding: 2%;
  border-radius: 7%;
  box-shadow: 0 0 30px rgba(11, 218, 221, 0.731);
  overflow-x: visible;
}
.Contacts {
   max-width: 40%;
  margin: 2% auto;
  background: rgb(255, 255, 255);
  padding: 2%;
  border-radius: 7%;
  box-shadow: 0 0 30px rgb(11, 218, 221, 0.731);
}
.profile-pic {
  width: 15%;
  height: 15%x;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20%;
}
.footer{
  
    text-align: right;
}